@import url("https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400i,700");

header {
  font-family: "Playfair Display", serif;

  h2 {
    font-weight: 700;
    font-size: 1.9rem;
    padding: 13px 64px 5px 20px;
  }
}
